<% include partials/landing %>

<div id="landing-header">
 		<h1>Welcome to YelpCamp!</h1>
		<button class='btn btn-lg btn-success' onclick="window.location.href = '/campgrounds'">Get Started</button>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footerHeading %>
